img {
  width: 200px;
}

body {
  text-align: center;
  font-family: Cursive;
  background: darkgoldenrod;
  color: pink;
}

h2 {
  font-size: 3em;
  animation: rotation 2s infinite linear;
}

@keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }